Repository jupyter-widgets/ipywidgets, pull requests merged in 2020-01, with the labels that each got.

#2674 Add Play widget interval to the Widget List docs
  docs/source/examples/Widget List.ipynb
  ipywidgets/widgets/widget_int.py
  packages/schema/jupyterwidgetmodels.latest.md
Labels: docs

#2675 Add link to the TypeScript cookiecutter in the Low Level docs
  docs/source/examples/Widget Low Level.ipynb
Labels: docs

#2673 Remove last Travis test
  .github/workflows/testjs.yml
  .travis.yml
  scripts/travis_install_js.sh
  scripts/travis_script_js.sh
Labels: Work in Progress

#2283 Play widget: expose playing and repeat
  ipywidgets/widgets/widget_int.py
  packages/controls/src/widget_int.ts
  packages/schema/jupyterwidgetmodels.latest.md
  packages/schema/jupyterwidgetmodels.v8.md
Labels: pkg:controls

#2666 Fix Upload widget counter value
  ipywidgets/widgets/widget_upload.py
  packages/controls/src/widget_upload.ts
  packages/schema/jupyterwidgetmodels.latest.md
Labels: pkg:controls

#2704 Fix Widget List notebook syntax
  docs/source/examples/Widget List.ipynb
Labels: docs

#2703 Remove the pause button from the Play widget
  packages/controls/src/widget_int.ts
Labels: pkg:controls

#2718 Fix call to readout_overflow for sliders
  packages/controls/src/widget_int.ts
Labels: pkg:controls

#2677 Remove notebook specific custom widget tutorial
  docs/source/examples/Index.ipynb
  docs/source/examples/Widget Custom.ipynb
Labels: docs

#2669 Minor docs updates
  docs/requirements.txt
  docs/source/examples/Index.ipynb
  docs/source/examples/Widget List.ipynb
Labels: docs

#2746 Make selection container titles a tuple of strings
  docs/source/examples/Widget List.ipynb
  ipywidgets/widgets/widget_selectioncontainer.py
  packages/controls/src/widget_selectioncontainer.ts
  packages/schema/jupyterwidgetmodels.latest.md
Labels: backwards-incompatible
