Repository jupyter-widgets/ipywidgets, pull requests merged in 2021-02, with the labels that each got.

#3062 Fix broken link
  docs/source/examples/Using Interact.ipynb
Labels: docs, good first issue

#3099 Refactor outdated README
  README.md
Labels: backport

#3104 Make doc structure more user friendly
  docs/source/changelog.md
  docs/source/conf.py
  docs/source/dev_docs.md
  docs/source/developer_docs.rst
  docs/source/index.rst
  docs/source/user_guide.rst
Labels: backport, docs

#3033 Make INotebookTracker optional in the manager plugin
  jupyterlab_widgets/src/plugin.ts
Labels: pkg:jupyterlab

#2919 Add a cookiecutter based tutorial to build a custom widget
  docs/source/examples/Index.ipynb
  docs/source/examples/Widget Custom.ipynb
  docs/source/examples/Widget Styling.ipynb
  docs/source/examples/images/custom-widget-hello.png
  docs/source/examples/images/custom-widget-result.png
Labels: docs
